/*variables*/
:root{
    --default-background: rgb(255, 255, 255);
    --default-foreground: rgb(0, 0, 0);
    --default-border: rgb(200, 200, 200);
    --default-key: linear-gradient(337.08deg, #f7f7f7 -3.33%, #e7e7e7 103.83%);
    --key-action: linear-gradient(337.08deg, #f7f7f7 -3.33%, #f0f0f0 103.83%);
    --popup-blur-background: rgba(0, 0, 0, 0.25);
    --incorrect: rgb(204, 0, 0);
    --share: rgb(34, 204, 0);
    --share-action: rgb(32, 192, 0);
    --default-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    --shadow-hover: 0px 1px 3px rgba(0, 0, 0, 0.5);
    --shadow-active: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
    --popup-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    --header-height: 50px;
    --game-max-width: 600px;
    --board-width: 365px; 
    --board-height: 439px;
    --keyboard-key-height: 70px;
    --keyboard-key-gaps: 5px;
    --keyboard-height: 240px;
    --grid-gaps: 5px;
    --popup-width: 500px;
}

@media only screen and (max-width: 600px) {
    :root{
        --board-width: 295px;
        --board-height: 355px;
    }
}

/*animation keyframes*/
@keyframes press{
    100% { 
        background: var(--key-action);
        box-shadow: var(--shadow-active);
    }
}

@keyframes incorrect{
    0%,100%{ 
        color: var(--default-foreground);
        background: var(--incorrect);
        border-color: var(--incorrect);
    }
    12.5%,62.5%{ 
        color: #FFFFFF; 
        transform: translateX(-3px); 
        background: var(--incorrect);
        border-color: var(--incorrect); 
    }
    37.5%,87.5%{ 
        color: #FFFFFF; 
        transform: translateX(3px); 
        background: var(--incorrect); 
        border-color: var(--incorrect);
    }
}

@keyframes showPopup{
    0%{ 
        opacity: 0; 
    }
    1%{ 
        z-index: 1; 
    }
    100%{ 
        z-index: 1; 
        opacity: 1; 
    }
}

@keyframes hidePopup{
    0%{ 
        z-index: 1; 
        opacity: 1; 
    }
    99.99%{ 
        z-index: 1; 
        opacity: 0; 
    }
    100%{ 
        z-index: -1; 
    }
}

/*general stuff*/
* { 
    cursor: url('assets/cursor.png') 32 32,auto; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 25px;
    font-weight: bold;
    color: var(--default-foreground);
    margin: 0; 
    padding: 0;
    user-select: none;  
    overflow: hidden; 
    animation-timing-function: linear;
}

body{
    height: 100%;
    background: var(--default-background);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    height: var(--header-height);
    border-bottom: 1px solid var(--default-border);
}
    .headerText{
        font-weight: bolder; 
        font-size: 30px;
    }

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--game-max-width);
    height: calc(100% - var(--header-height));
    margin: 0 auto;
}

/*game board stuff*/
.gameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
    .gameBoard{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        width: var(--board-width);
        height: var(--board-height);
        padding: 5px;
        gap: var(--grid-gaps);
        box-sizing: border-box;
    }
        .gameRow{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: var(--grid-gaps);
        }
            .gameSlot{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: calc(var(--grid-gaps) / 2);
                text-transform: uppercase;
                border: 2px solid var(--default-border);
                border-radius: 5px;
            }


/*on-screen keyboard stuff*/
.keyboardContainer{
    width: inherit;
    height: var(--keyboard-height);
}
    .keyboardrow{
        display: flex;
        margin: 0 var(--keyboard-key-gaps);
    }
        .button{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            height: var(--keyboard-key-height);
            margin: calc(var(--keyboard-key-gaps) / 2);
            background: var(--default-key);
            border: none;
            border-radius: 10px;
            box-shadow: var(--default-shadow);
            font-size: 16px;
        }
            .button:hover{
                background: var(--key-action);
                box-shadow: var(--shadow-hover);
            }
            .button:active{
                background: var(--key-action);
                box-shadow: var(--shadow-active);
            }
        #special{
            flex: 1.5;
            font-size: 12px;
        }
        .deleteIcon{
            width: 25px; 
            height: 25px;
        }
        .spacer{
            flex: 0.5;
        }

/*share popup stuff*/
.popup{
    display: flex; 
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: var(--popup-blur-background);
    backdrop-filter: blur(5px);
    z-index: -1;
    opacity: 0; 
}   
    .popupBox{
        width: var(--popup-width);
        margin: auto auto; 
        padding: 10px;
        border-radius: 5px; 
        background-color: var(--default-background);
        box-shadow: var(--popup-shadow);
        font-size: 20px;
    }
    .popupBoxBody{
        display: flex; 
        flex-direction: column; 
        align-items: center;
        padding: 40px; 
    }
    .shareIcon{
        width: 20px; 
        height: 20px;
    }
    .share{
        display: flex; 
        align-items: center;
        justify-content: center;
        width:150px; 
        height: 50px;
        background-color: var(--share);
        color: var(--default-background);
        font-size: 20px;
        border: none; border-radius: 10px;
    }
        .share:hover{
            background-color: var(--share-action);
            box-shadow: var(--shadow-hover);
        }
        .share:active{
            background-color: var(--share-action);
            box-shadow: var(--shadow-active);
        }
    .close{
        display: flex; 
        justify-content: right;
    }
        #close:hover{
            color: var(--default-border);
        }