/*general stuff*/
* { 
    cursor: url('https://lucidcelestial.github.io/assets/cursor.png') 32 32,auto; 
}
body{
    animation-timing-function: linear;
    height: 100%; background-repeat: no-repeat; background-attachment: fixed;

    background: rgb(13,13,13);
    background: radial-gradient(circle, rgb(32, 32, 32) 0%, rgb(36, 36, 36) 100%);
    font-size: 12; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 255, 255);
    overflow: hidden; 

    /*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
    -webkit-user-select: none; -ms-user-select: none; user-select: none;  
}
.header{
    display: flex;
    justify-content: center; align-items: center;
    height: auto; width: 100%;
}
    hr{
        border-bottom: 1px solid rgb(110, 110, 110);
        margin: 5px -15px;
    }
    .headerText{
        font-family: Georgia, serif; font-weight: bolder; font-size: 30px; 
        margin-top: 5px; margin-bottom: 5px;
    }

/*game board stuff*/
#game{
    position: fixed;
    left: 50%; top: 25%; transform: translate(-50%, -25%);
    
    width: 370px; height: 450px;

    display: grid;
    grid-template-rows: repeat(6,1fr); row-gap: 5px; padding:25px;

    font-weight: bold; font-size: 25px; text-transform: uppercase;
}
    .gameRow{
        display: grid; 
        grid-template-columns: repeat(5,1fr); column-gap: 10px;
    }
        .gameSlot{
            display: inline-flex;
            width: 60px; height: 60px;
            align-items: center; justify-content: center;
            border: 2px solid; border-color: rgb(110, 110, 110); border-radius: 5px;
        }


/*on-screen keyboard stuff*/
#keyboardContainer{
    position: fixed;
    left: 50%; bottom: 10px; transform: translate(-50%, 0%);
    
    display: grid;
    grid-template-rows: repeat(3,75px); row-gap: 5px;
}
    .keyboardrow1{
        display: grid;
        grid-template-columns: repeat(10,50px); column-gap: 5px;
    }
    .keyboardrow2{
        display: grid;
        column-gap: 5px; grid-template-columns: repeat(9,50px); margin-left: 25px;
    }
    .keyboardrow3{
        display: grid;
        column-gap: 5px; grid-template-columns: 75px repeat(7,50px) 75px;
    }
        .button{
            width: 50px; height: 75px; padding: 5px;
            color: #FFFFFF;

            background: linear-gradient(337.08deg, #666666 -3.33%, #505050 103.83%);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            border-radius: 10px; border: none;
            
            font-size: 16px; font-weight: bold;

            transition-duration: 0.1s;
        }
            .button:hover{
                background: linear-gradient(337.08deg, #666666 -3.33%, #656565 103.83%);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
            }
            .button:active{
                background: linear-gradient(337.08deg, #666666 -3.33%, #464646 103.83%);
                box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
            }
        #specialEnter{
            width: 75px;
            font-size: 12px;
        }
        #specialDel{
            width: 75px;
        }

/*animation keyframes*/
@keyframes press{
    100% { background: linear-gradient(337.08deg, #666666 -3.33%, #464646 103.83%); box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5); }
}
@keyframes incorrect{
    0%,100%{ background: #b80000; border-color: #b80000; }
    12.5%,62.5%{ transform: translateX(-3px); background: #b80000; border-color: #b80000; }
    37.5%,87.5%{ transform: translateX(3px); background: #b80000; border-color: #b80000; }
}